* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0e17;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.kotak-centang {
    display: none;
}

.label-hamburger {
    width: 70px;
    height: 58px;
    display: block;
    cursor: pointer;
}

.label-hamburger div {
    width: 70px;
    height: 6px;
    background-color: #fff;
    position: absolute;
}

.garis1 {
    transition: all 0.3s;
}

.garis2 {
    margin: 18px 0 0 0;
    transition: 0.3s;
}

.garis3 {
    margin: 36px 0 0 0;
    transition: 0.3s;
}

#kotak-centang:checked + .label-hamburger .garis1 {
    transform: rotate(35deg) scaleX(0.55) translate(39px, -4.5px);
    border-radius: 50px 50px 50px 0;
}

#kotak-centang:checked + .label-hamburger .garis3 {
    transform: rotate(-35deg) scaleX(0.55) translate(39px, 4.5px);
    border-radius: 0 50px 50px 50px;
}

#kotak-centang:checked + .label-hamburger .garis2 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 45px;
}
